[Interface]
Address = {{ interface.address }}
ListenPort = {{ interface.listen_port | default(51820) }}
{% for command in interface.post_up | default([]) %}
PostUp = {{ command }}
{% endfor %}
{% for command in interface.post_down | default([]) %}
PostDown = {{ command }}
{% endfor %}
{% for peer in peers %}

# {{ peer.name }}
[Peer]
PublicKey = {{ peer.public_key }}
AllowedIPs = {{ peer.allowed_ips }}
{% endfor %}